examples/src/test/resources/insert-fact-kjar-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:kie="http://www.mulesoft.org/schema/mule/kie"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
               http://www.mulesoft.org/schema/mule/kie http://www.mulesoft.org/schema/mule/kie/current/mule-kie.xsd">

    <kie:local-session name="localSession" resources="org.mule.modules:mule-module-kie-examples-kjar:3.8.0-SNAPSHOT" kieSessionName="ksession2" />

    <flow name="insertFactFiringRulesInUpsert">
        <inbound-endpoint address="vm://insertFactFiringRulesInUpsert" exchange-pattern="request-response"/>

        <set-variable variableName="globalList" value="#[[]]" />

        <kie:set-global session-ref="localSession" globalName="list" value="#[flowVars['globalList']]"/>

        <kie:upsert session-ref="localSession" fireRules="true" />
    </flow>

    <flow name="insertFactFiringRulesAfterUpsert">
        <inbound-endpoint address="vm://insertFactFiringRulesAfterUpsert" exchange-pattern="request-response"/>

        <set-variable variableName="globalList" value="#[[]]" />

        <kie:set-global session-ref="localSession" globalName="list" value="#[flowVars['globalList']]"/>

        <kie:upsert session-ref="localSession" />

        <kie:fire-rules session-ref="localSession" />
    </flow>

</mule>