examples/src/main/resources/01-simple/mule-app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:kie="http://www.mulesoft.org/schema/mule/kie"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/kie http://www.mulesoft.org/schema/mule/kie/current/mule-kie.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" />

    <kie:local-session name="localSession" resources="/Users/marcosnunezcortes/mnc/mulas/mule-enterprise-standalone-3.8.0-SNAPSHOT/apps/01-simple/01-simple-resources.jar" />

    <flow name="multiplyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/fireRules/{multiplyBy}" />

        <set-variable variableName="globalList" value="#[new org.mule.module.kie.ListOfIntegers()]" />
        <kie:set-global session-ref="localSession" globalName="theList" value="#[flowVars['globalList']]"/>

        <logger level="INFO" message="Multiplying by: #[message.inboundProperties['http.uri.params'].multiplyBy]" />

        <set-payload value="#[new org.mule.module.kie.ScalarMultiplier(message.inboundProperties['http.uri.params'].multiplyBy)]" />

        <logger message="Step 1. The payload is: #[payload]. The list is: #[flowVars['globalList']]" level="INFO" />

        <kie:upsert session-ref="localSession" fireRules="true" />

        <logger message="Step 2. The payload.fact is: #[payload.fact]. The list is: #[flowVars['globalList']]" level="INFO" />

        <kie:upsert session-ref="localSession" fireRules="true" />

        <logger message="Step 3. The payload.fact is: #[payload.fact]. The list is: #[flowVars['globalList']]" level="INFO" />
    </flow>

</mule>